.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-family: Cinzel;
}
/* write your parent styles in here for your App.js */

.char-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.char-info .character {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2.5%;
  border: 2px solid #443e3e;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.char-info .character .name {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 2rem;
  margin: .5em 0;
  border-bottom: 1px dashed #443e3e;
}

.char-info .character p {
  font-family: Cinzel;
  font-size: 1.2rem;
}